.file-manager-container {
    height: 100vh; 
    max-height: 100vh;
    overflow: auto;    
  }
  
.sidebar {
  width: 200px; /* Adjust the width as needed */
  /* background-color: #f0f0f0; */
  padding: 20px;
}

.left-side-container {
  width: 50%; /* Adjust according to the initial state of split */
  padding-left: 2vw; 
  margin-top: 15px;
  max-height: 95vh; 
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
    
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
  
  
.file-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

