@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/gray.css';

.file-mini {
    /* Adjust these values as needed */
    width: "100%";
    height: 150px;
    background: var(--gray-3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
.like-a-card {
  height: 200px; 
  width: 170px;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--slate-9);
  border-style: solid;
}

  .file-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .modal-content {
    background-color: 'pink';
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
  }

  .file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px; /* Adjust the font size as needed */
    height: 50%;
    flex-grow: 1;
    padding-bottom: 5%;
  }
  
  .file-icon span {
    font-weight: bold;
  }
  
  .file-name {
    flex: 1;
    font-size: small;
    color: var(--slate-11);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }