@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/gray.css';

.SeparatorRoot {
  background-color: var(--gray-7);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

.file-mini {
    /* Adjust these values as needed */
    width: 150px;
    height: 150px;
    /* border: 1px solid var(--gray-7); */
    /* border-bottom: 1px solid grey; */
    background: var(--gray-3);
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
.file-mini-outside {
  width: 150px;
  height: 190px;
  /* border: 1px solid grey; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
  text-align: center;
  position: relative;
}

  .file-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .modal-content {
    background-color: 'pink';
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
  }

  .file-icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .file-icon span {
    font-weight: bold;
  }
  
  .file-name {
    flex: 1;
    font-size: small;
    color: var(--slate-11);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }