.file-manager-container {
  /* make the height full screen */
  height: 100vh;
  max-height: 100vh;
  /* overflow: auto;     */
  /* background-color: aqua; */
}
  
.file-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-y: auto;
  scrollbar-width: none;
}
.file-list-container::-webkit-scrollbar {
  display: none;
}