@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/slate.css';


.file-manager-container {
  height: 100vh;
  max-height: 100vh;
}

  
.file-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  scrollbar-width: none;
}
.file-list-container::-webkit-scrollbar {
  display: none;
}


/* Add this to your CSS file */

/* General layout for the FileManager */
.file-manager-layout {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

/* Styles for the left-side container */
.left-side {
  display: flex;
  align-self: flex-start;
}

/* Styles for the draggable vertical line */
.draggable-line {
  width: 8px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: transparent; /* Default background */
}

/* Specific styles when dragging or highlighted */
.draggable-line.dragging,
.draggable-line.highlight {
  background-color: orange;
}

/* Inner line styling */
.draggable-line-inner {
  width: 1px;
  height: 100%;
  background-color: grey;
}

/* Styles for the right-side container */
.right-side {
  color: beige;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Chatbox message area */
.chatbox-message-area {
  padding: 20px;
  margin-top: 15px;
  color: black;
}

/* Chatbox input area */
.chatbox-input-area {
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
