#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  border-bottom: #fff 1px solid;
  /* background-color: bisque; */
  /* add your other styles */
}

.MuiAppBar-root.app-bar {
  background-color: #101010;
  /* background-color: transparent; */
  height: 50px;
  /* border-bottom: 1px solid grey; */
}

.header .MuiTypography-root {
  color: white;
}