@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/slate.css';


#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  border-bottom: #fff 1px solid;
  color: var(--gray-12);
  /* background-color: bisque; */
  /* add your other styles */
}

.MuiAppBar-root.app-bar {
  background-color: #101010;
  /* background-color: transparent; */
  height: 50px;
  /* border-bottom: 1px solid grey; */
}

.header .MuiTypography-root {
  color: var(--gray-12);
}

.path-element {
  color: var(--slate-12);
  font-size: 18px;
  /* color: "black" */
}